<!doctype html>
 <html class="no-js" lang="en">
 <head>
     <meta charset="utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <title>{{ conversejs_title }}</title>
     <link rel="shortcut icon" type="image/ico" href="css/images/favicon.ico"/>
     <link type="text/css" rel="stylesheet" media="screen" href="dist/converse.min.css" />
{% if conversejs_omemo is defined %}
     <script src="{{ conversejs_omemo_path }}/dist/libsignal-protocol.js"></script>
{% endif %}
{% for item in conversejs_plugins %}
     <script src="{{ item.path }}"></script>
{% endfor %}
     <script src="dist/converse.min.js"></script>


 </head>
 <body class="converse-fullscreen">
 <div id="conversejs-bg"></div>
 <script>
    /*
    @licstart
    This is free and unencumbered software released into the public domain.

    Anyone is free to copy, modify, publish, use, compile, sell, or
    distribute this software, either in source code form or as a compiled
    binary, for any purpose, commercial or non-commercial, and by any
    means.

    In jurisdictions that recognize copyright laws, the author or authors
    of this software dedicate any and all copyright interest in the
    software to the public domain. We make this dedication for the benefit
    of the public at large and to the detriment of our heirs and
    successors. We intend this dedication to be an overt act of
    relinquishment in perpetuity of all present and future rights to this
    software under copyright law.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
    OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
    ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
    OTHER DEALINGS IN THE SOFTWARE.

    For more information, please refer to <http://unlicense.org/>
    @licend

    */
    converse.initialize({
        default_domain: '{{ conversejs_domain }}',
{% for item in conversejs_config %}
    {{ item.name }}: {{ item.value }},
{% endfor %}
{% if conversejs_enable_plugins == 'true' %}
{% for item in conversejs_plugins %}
{% if item.config is defined %}
{% for value in item.config %}
    {{ value.name }}: {{ value.key }},
{% endfor %}
{% endif %}
{% endfor %}
    whitelisted_plugins: [{% for item in conversejs_plugins %}'{{ item.name }}',{% endfor %}]
{% endif %}

    }).then(function () {
        setTimeout(function () {
            document.querySelector('.converse-content').style = '';
        }, 1000);
    });
</script>
</body>
</html>
